/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--body-background-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* Header Styles */
header {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  padding: 10px 0;
}

/* Footer Styles */
footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  padding: 20px;
}

footer a {
  color: var(--footer-link-color);
}

footer a:hover {
  color: var(--footer-text-color);
}
